body {
    background-color: rgba(60, 60, 60, 0.9);
}
h1 {
    color: lightgrey;
}
img {
    border: 2px solid dodgerblue;
}
h3 {
    color: lightgrey;
}
p {
    color: lightgrey;
}
h4 {
    color: lightgrey;
}