body {
    background-size: cover;
    font-family: 'Lato', Arial, sans-serif;
    color: #434343;
    background: #DAE3E7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    color: black;
}
h4 {
    color: black;
}
p {
    color: black;
}
h4 {
    color: black;
}
