body {
    background-image: url('image/BG.png');
    background-size: cover;
}
h1 {
    color: black;
}
h4 {
    color: black;
}
p {
    color: black;
    font-family: 'Courier New';
}
h4 {
    color: black;
}
